name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Check out the current repository
      - name: Checkout
        uses: actions/checkout@v5

      # Set up the Java environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      # Setup Gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      # Run Verify Plugin task and IntelliJ Plugin Verifier tool
      - name: Verify Plugin
        run: ./gradlew verifyPlugin

      # Build plugin
      - name: Build Plugin
        run: ./gradlew buildPlugin

      # Prepare Release Notes
      - name: Generate Release Notes
        run: |
          RELEASE_NOTE="./build/tmp/release_note.txt"
          ./gradlew getChangelog --no-header --quiet --console=plain --output-file=$RELEASE_NOTE

      # Create GitHub Release and upload artifacts
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION="${{ github.ref_name }}"
          RELEASE_NOTE="./build/tmp/release_note.txt"
          
          gh release create "$VERSION" \
            --title "$VERSION" \
            --notes-file "$RELEASE_NOTE" \
            ./build/distributions/*

      # Publish the plugin to JetBrains Marketplace
      - name: Publish Plugin
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
        run: ./gradlew publishPlugin
